*{
    margin: 0;
    padding: 0;
}
#cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
    gap: 10px;
    padding: 10px;
}
h1{
    text-align: center;
}
@media (max-width:575px) {
    body{
        overflow-x: hidden;
    }
    #cardContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 5px;
        
    }
    h1{
        font-size: 5px;
        text-align: center;
    }
    img{
        width: 100%;
    }
}